window {
    margin: 0px;
    border: 2px solid #31748f;
    background-color: #191724;
    font-family: "JetBrainsMono Nerd Font";
}

#input {
    margin: 5px;
    border: none;
    color: #e0def4;
    background-color: #26233a;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #191724;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #191724;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
}

#entry:selected {
    background-color: #ebbcba;
}

#text:selected {
    color: #191724;
}
